<app-header></app-header>

<app-header></app-header>

<div class="row">
  <div class="col1">
    <mat-card>
      <img
        src="../../../../../assets/bathing.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
  <div class="col2">
    <mat-card>
      <img
        src="../../../../../assets/bathing2.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
</div>

<div class="topic_card">
  <mat-card>
    <div class="topic">
      <h5><b>BATHING</b></h5>
    </div>
    <div class="paragraph">
      <p>
        If you are willing to take part for the bathing our mothers and fathers
        it will be valuable opportunity for your life and their life.
      </p>
    </div>
  </mat-card>
</div>
