<app-header></app-header>

<app-header></app-header>

<div class="row">
  <div class="col1">
    <mat-card>
      <img
        src="../../../../../assets/trip.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
  <div class="col2">
    <mat-card>
      <img
        src="../../../../../assets/trip2.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
</div>

<div class="topic_card">
  <mat-card>
    <div class="topic">
      <h5><b>ANNUAL TRIP</b></h5>
    </div>
    <div class="paragraph">
      <p>
        As humans we all like to visiting and traveling. It is a very essential
        requirement. So there has an annual trip for the adults. The trip will
        organized by according to the adults preferences. The visiting places
        will discuss by themselves. If you are willing to contribute for this
        event we are invite for you.
      </p>
    </div>
  </mat-card>
</div>
