<div class="nav-row">
  <!-- Grid column -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Suwa sawiya Elder Care Center</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form mt-0">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
          </div>
        </form>
      </div>
    </div>
  </nav>
  <!-- Grid column -->
</div>

<div class="row1">
  <mat-card>
    <div class="headline">
      <h3><b>SELECT YOUR CHOISE</b></h3>
    </div>
  </mat-card>
</div>

<div class="row">
  <div class="col-md-4">
    <mat-card>
      <div class="button">
        <h6><b>ANNUAL EVENTS</b></h6>
      </div>

      <div class="button">
        <a routerLink="/medical"
          ><button class="btn btn-purple btn-rounded">MEDICAL CLINIC</button></a
        >
      </div>
      <div class="button">
        <a routerLink="/concert"
          ><button class="btn btn-purple btn-rounded">
            CONTERT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button></a
        >
      </div>
      <div class="button">
        <a routerLink="/vesak"
          ><button class="btn btn-purple btn-rounded">VESAK FESTIVAL</button></a
        >
      </div>
      <div class="button">
        <a routerLink="/trip"
          ><button class="btn btn-purple btn-rounded">
            TRIP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button></a
        >
      </div>
      <div class="button">
        <a routerLink="/meet"
          ><button class="btn btn-purple btn-rounded">
            MEET
            UPS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button></a
        >
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <div class="button">
        <h6><b>DAILY PROGRAMMES</b></h6>
      </div>
      <div class="button">
        <a routerLink="/sign-in"
          ><button class="btn btn-purple btn-rounded">
            BATHING&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button></a
        >
      </div>
      <div class="button">
        <a routerLink="/sign-in"
          ><button class="btn btn-purple btn-rounded">
            TREATMENTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button></a
        >
      </div>
      <div class="button">
        <a routerLink="/sign-in"
          ><button class="btn btn-purple btn-rounded">
            ENTERTAINMENT
          </button></a
        >
      </div>
      <div class="button">
        <a routerLink="/sign-in"
          ><button class="btn btn-purple btn-rounded">
            DONATIONS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button></a
        >
      </div>
      <div class="button">
        <a routerLink="/sign-in"
          ><button class="btn btn-purple btn-rounded">
            OTHER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button></a
        >
      </div>
    </mat-card>
  </div>
</div>
