.background {
  background-color: rgb(221, 224, 226);
  height: 650px;
  width: 1350px;
  margin-top: -500px;
}

.row {
  margin-top: 20px;
  margin-left: 350px;
}

.headline {
  margin-left: 100px;
}
.row1 {
  margin-top: 150px;
  margin-left: 400px;
  width: 600px;
}

.button {
  margin-left: 50px;
  margin-top: 5px;
}
