<app-header></app-header>

<app-header></app-header>

<div class="row">
  <div class="col1">
    <mat-card>
      <img
        src="../../../../../assets/donation.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
  <div class="col2">
    <mat-card>
      <img
        src="../../../../../assets/donations2.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
</div>

<div class="topic_card">
  <mat-card>
    <div class="topic">
      <h5><b>DONATIONS</b></h5>
    </div>
    <div class="paragraph">
      <p>
        You can make donations to the adulats for improve their health, mental
        happyness. If you are willing to contribute fot it this time for you
      </p>
    </div>
  </mat-card>
</div>
