<app-header></app-header>

<app-header></app-header>

<div class="row">
  <div class="col1">
    <mat-card>
      <img
        src="../../../../../assets/clinic.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
  <div class="col2">
    <mat-card>
      <img
        src="../../../../../assets/clinic2.jpeg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
</div>

<div class="topic_card">
  <mat-card>
    <div class="topic">
      <h5><b>ANNUAL MEDICAL CLINIC</b></h5>
    </div>
    <div class="paragraph">
      <p>
        There is an annual medical clinic for our mothers and fathers. In this
        programme the adults will be able to detect the disabilities that they
        have. The panel of doctors will be take place for this event and
        contribute their valuble time for those adults. So if you are belonging
        to the medical sector you also could be able to contribute for this
        worth event. If you are willing to participate for this programme you
        can state in below.
      </p>
    </div>
  </mat-card>
</div>
