<app-header></app-header>

<app-header></app-header>

<div class="row">
  <div class="col1">
    <mat-card>
      <img
        src="../../../../../assets/concert.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
  <div class="col2">
    <mat-card>
      <img
        src="../../../../../assets/concert2.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
</div>

<div class="topic_card">
  <mat-card>
    <div class="topic">
      <h5><b>ANNUAL CONCERT</b></h5>
    </div>
    <div class="paragraph">
      <p>
        There in an annual concert for our mothers and fathers for enhance their
        happyness, show their talents for others as well as imporoeve their
        mental strength. In this programme there should be many events that able
        to participate for the adults. After end of the programme each and every
        adult will take a present. If you have any ideas about which item shoud
        be held or which manner should be or what ever you can join with us in
        follow. And If you are willing to sponsor for the present youare also
        welcome.
      </p>
    </div>
  </mat-card>
</div>
