<app-header></app-header>

<app-header></app-header>

<div class="row">
  <div class="col1">
    <mat-card>
      <img
        src="../../../../../assets/sil.JPEG"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
  <div class="col2">
    <mat-card>
      <img
        src="../../../../../assets/sil2.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
</div>

<div class="topic_card">
  <mat-card>
    <div class="topic">
      <h5><b>ANNUAL VESAK FESTIVAL</b></h5>
    </div>
    <div class="paragraph">
      <p>
        There is an annual vesak festival for this elder care center. In this
        event we allowed to participate for the sil observations to those who
        are willing to it. Thre are several events like "Bodu bathi gee",
        dansal, lamp masses so on. If you are willing to take part in this
        valuble event this you are welcome.
      </p>
    </div>
  </mat-card>
</div>
