<!-- only for the checking  -->
<!--Carousel Wrapper-->
<!--<app-signup></app-signup>-->
<section id="homeHeadSection">
  <!-- <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;"> -->
  <div
    class="view  jarallax"
    data-jarallax='{"speed": 0.2}'
    style="background-image: url('../../assets/elder_care.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
  >
    <!-- Mask & flexbox options-->
    <div
      class="mask rgba-purple-slight d-flex justify-content-center align-items-center"
    >
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-md-12 text-center">
            <h1
              class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp elderCareQuote1"
            >
              We care for you like a mother like a father
            </h1>

            <style>
              .elderCareQuote1 {
                color: azure;
              }
            </style>

            <h3
              class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp elderCareQuote2"
              data-wow-delay="0.2s"
            >
              <b>We believe aging should be celebrated, honored, and valued.</b>
            </h3>

            <style>
              .elderCareQuote2 {
                color: azure;
              }
            </style>

            <div class="wow fadeInUp" data-wow-delay="0.4s">
              <!-- <a class="btn btn-purple btn-rounded"><i class="fa fa-user left"></i> </a> -->
              <a routerLink="/sign-in"
                ><button class="btn btn-purple btn-rounded">Sign In</button></a
              >
              <a routerLink="/register-user"
                ><button class="btn btn-purple btn-rounded">Sign Up</button></a
              >
              <!-- <a class="btn btn-outline-purple btn-rounded"><i class="fa fa-book left"></i> Learn more</a> -->
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
</section>

<!--Section: Cards-->

<div class="col-lg-10 col-md-12 offset-xl-1">
  <!-- <div class="text-center"></div> -->
  <section id="packageSection" class="text-center">
    <!--Section heading-->
    <h3 class="section-heading mb-5  h1 mt-0">Our Annual Programs</h3>

    <!--Grid row-->
    <div class="row">
      <!--Subheading-->

      <div class="col-md-4">
        <!-- Card Wider -->
        <div class="card card-cascade wider mb-4">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/clinic.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div
                class="mask rgba-white-slight waves-effect waves-light"
              ></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h4 class="card-title"><strong>Annual Medical Clinic</strong></h4>

            <p class="card-text">
              We are organizing a medical camp for our mothers and fathers in
              annually.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Card Wider -->
        <div class="card card-cascade wider mb-4">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/concert.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div
                class="mask rgba-white-slight waves-effect waves-light"
              ></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h4 class="card-title"><strong>Annual Concert</strong></h4>

            <p class="card-text">
              There is an annual concert for elders for show their skills as
              well as their happyness
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Card Wider -->
        <div class="card card-cascade wider mb-4">
          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../assets/lunch.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div
                class="mask rgba-white-slight waves-effect waves-light"
              ></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h4 class="card-title"><strong>Annual Medical Clinic</strong></h4>

            <p class="card-text">
              We are organizing a nutrition programs for the our mothers and
              fathers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--*******************************-->

<div class="col-lg-10 col-md-12 offset-xl-1">
  <!-- <div class="text-center"></div> -->

  <!--Grid row-->
  <div class="row">
    <!--Subheading-->

    <div class="col-md-4">
      <!-- Card Wider -->
      <div class="card card-cascade wider mb-4">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="../../assets/trip.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Annual Trip</strong></h4>

          <p class="card-text">
            We are organizing a trip for the happyness of the elders.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- Card Wider -->
      <div class="card card-cascade wider mb-4">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="../../assets/bathing.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Treatements</strong></h4>

          <p class="card-text">
            We have daily programs in order to elders daily activities..
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- Card Wider -->
      <div class="card card-cascade wider mb-4">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="../../assets/community.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Community meet ups</strong></h4>

          <p class="card-text">
            There are community meet ups for the mothers and fathers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--*******************************-->

<div class="col-lg-10 col-md-12 offset-xl-1">
  <!-- Section: Contact v.1 -->
  <section class="my-5">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
    <!-- Section description -->

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Google map-->
        <div
          id="map-container"
          class="rounded z-depth-1-half map-container"
        ></div>
        <br />
        <!-- Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fa fa-map-marker"></i>
            </a>
            <p></p>
            <p class="mb-md-0"></p>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fa fa-phone"></i>
            </a>
            <p></p>
            <p class="mb-md-0"></p>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fa fa-envelope"></i>
            </a>
            <p><b>SUWASEWANA</b><br />Elder Care Center <br />Nawala</p>
            <p>0112308519</p>
            <p class="mb-0">suwasewana@gmail.com</p>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Contact v.1 -->
</div>
