<app-header></app-header>

<app-header></app-header>

<div class="row">
  <div class="col1">
    <mat-card>
      <img
        src="../../../../../assets/lunch.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
  <div class="col2">
    <mat-card>
      <img
        src="../../../../../assets/lunch2.jpg"
        alt="Girl in a jacket"
        width="300"
        height="300"
      />
    </mat-card>
  </div>
</div>

<div class="topic_card">
  <mat-card>
    <div class="topic">
      <h5><b>FOODS AND BEVERAGES</b></h5>
    </div>
    <div class="paragraph">
      <p>
        You can contribute for the foods and beverages of our mothers and
        fathers
      </p>
    </div>
  </mat-card>
</div>
